# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.*
infra/build/
*.tfvars
response.json
.terraform
build/
infra/streaming/tfplan


# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache
.venv/
venv/
env/

# Credenciais
.env
*.pem
credentials
